.cards {
  display: inline-flex;
  background-color: #f0f0f0; /* Background color */
  padding: 20px; /* Add padding */
}

.card {
  display: flex;
  height: 200px;
  left: 50px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.card h3 {
  margin-top: 0;
}
